{% extends 'base.html' %}

{% block body %}
<div class="columns is-centered">
    <h1 class="title">Cadastro de Empresa</h1>
</div>
<form action="cadastrar" method="post">
    {% csrf_token %}

    <div class="field">
        <label class="label" for="nome">Nome</label>
        <div class="control">
            <input class="input" type="text" name="nome" id="nome" placeholder="Ex. Copper" autofocus required minlength="3" maxlength="100">
        </div>
    </div>
    <div class="field">
        <label class="label" for="cnpj">CNPJ</label>
        <div class="control">
            <input class="input" type="text" name="cnpj" placeholder="00000000000000" autofocus required minlength="14" maxlength="14">
        </div>
    </div>
    <div class="field">
        <label class="label" for="razao_social">Razao social</label>
        <div class="control">
            <input class="input" type="text" name="razao_social" placeholder="Copper vila nova" autofocus required minlength="3" maxlength="100">
        </div>
    </div>
    <div class="field">
        <label class="label" for="inscricao_estadual">IE</label>
        <div class="control">
            <input class="input" type="text" name="inscricao_estadual" placeholder="000000000" autofocus required minlength="9" maxlength="9">
        </div>
    </div>
    <div class="field">
        <label class="label" for="faturamento">Faturamento</label>
        <div class="control">
            <input class="input" type="text" name="faturamento" placeholder="1000000" autofocus required>
        </div>
    </div>
    <div class="field">
        <label class="label" for="colaboradores">Colaboradores</label>
        <div class="control">
            <input class="input" type="number" name="colaboradores" placeholder="50" autofocus required>
        </div>
    </div>
    <div class="is-pulled-right">
        <a href="/interno/empresa" class="button is-outlined is-danger">
            <span class="icon">
                <i class="fa-solid fa-xmark"></i>
            </span>
            <span>Cancelar</span>
        </a>
        <button class="button is-primary" type="submit">
            <span class="icon"><i class="fa-solid fa-floppy-disk"></i></span>
            <span>Salvar</span>
        </button> 
    </div>
</form>
{% endblock %}