</html>
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
    <link rel="stylesheet" href="{% static 'exemplos_basicos/sobre.css' %}">
    <title>Exemplo de interpolação</title>
</head>
<body>
    <h1>Informações do {{ nome }}</h1>
    <span>nome completo: {{ nome_completo }}</span></br>
    <span>idade: {{ idade }}</span></br>
    <span>ano de nascimento: {{ ano_nascimento }}</span></br>
    <span>altura: {{ altura }}</span></br>
    <span>peso: {{ peso }}</span></br>
    <span>imc: {{ imc }}</span></br>
</body>
</html>